

body {
    margin:0;
    padding:0;
    /* font-family: mrs-eaves-roman-small-caps, sans-serif; */
    /* font-family: mrs-eaves, serif; */
    font-family: 'Alatsi', sans-serif;
    /* font-family: 'Roboto Slab', serif; */

}
a, a:hover, a:visited {
    color: #0071bc;
}
#map {
    top:0;
    height: 100vh;
    width:100vw;
    position: fixed;
    z-index: -5;
}

.bg {
  /* The image used */
  background-image: url("img_girl.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* the root of all suffering: https://stackoverflow.com/questions/5657964/css-why-doesn-t-percentage-height-work */
#photoBlock {
  background-image: url('../images/ckrusenepal-68.jpg');
  position: -webkit-sticky;
  position: sticky;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0px;
  z-index: -4;
  color: #0071bc;
  height: 100vh;
  width: 100%;
  background-color: powderblue;
  transition: all ease 1.0s;
  opacity: 0;
}


#header {
    margin: 3vh auto;
    width: 90vw;
    padding: 2vh;
    text-align: center;
}
#footer {
    width: 100%;
    min-height: 5vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
    line-height: 25px;
    font-size: 13px;
}
#features {
    padding-top: 10vh;
    padding-bottom: 10vh;
    z-index: 100;
}
.centered {
    width: 50vw;
    margin: 0 auto;
}
.lefty {
    width: 33vw;
    margin-left: 5vw;
}
.righty {
    width: 33vw;
    margin-left: 62vw;
}
.light {
    color: #444;
    background-color: #fafafa;
}
.dark {
    color: #fafafa;
    background-color: #444;
}
.step {
    padding-bottom: 50vh;
    /* margin-bottom: 10vh; */
    opacity: 0.25;
}
.step.active {
    opacity: 0.9;
}

.step div {
    padding:  25px 50px;
    line-height: 25px;
    font-size: 13px;
}

/* .step figure.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
} */

.step img {
    width: 100%;
}

@media (max-width: 750px) {
    #features {
        width: 90vw;
        margin: 0 auto;
    }
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Regular-webfont.woff2") format("woff2"),
       url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
}
